/node_modules
/public/hot
/public/storage
public/tmp/*
public/u/*
public/zip/*
/storage/*.key
storage/*
/vendor
.env
.env.backup
.idea
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
